body {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 350px;
	margin: 0;
	padding: 0;
	color: #333;
	font-family: verdana,arial,helvetica,sans-serif;
}

body.popup {
	width: 600px;
}

#notifications {
	font-size: 14px;
	/* Smaller: 13px or possibly 1em */
	margin-top: 2px;
}

.body { margin: 5px; }



.date {
	font-size: 10px;
	float: right;
	color:#A4A4A4;
	font-weight: normal;
	font-style: normal; 
}

.subjectLine {
	margin-left: 5px;
	font-size: larger;
}
#title {
	color: blue;
	font-weight: normal;
	font-style: italic;
}
.author {
	color: #369;
}
#subject {
	color: black;
}
.notification {
	border: transparent 1px solid;
	padding: 5px;

}

.no-notifications {
	padding: 5px;
}


#truncate {
	letter-spacing: 2px;
	margin-left: 0.5em;
	}
.subjectLine #truncate {
	letter-spacing: normal;
	font-style: normal;
	}
.body #truncate { color: silver; }



.notification:hover {
	background: #F7F7F7;
	cursor: pointer;
	border: 1px solid #E9E9E9;
}

.notification h4{
	margin: 0px;
	font-weight: bold;
	font-size: x-small;
	color: orangered;
}

.no-notifications h4 {
	text-align: center;
	font-weight: normal;
	color: silver;
}

#control {
	font-size: 20px;
}

#control {
	background-color: #DDD;
	padding: 5px;
	height: 20px;
	text-align: center;
}

#control:after {
	content: " ";
	clear: both;
}

#control .forceRefresh {
	float: right;
}
#control .openOptions {
	float: left;
}

#control i {
	cursor: pointer;
}
.openReddit {
/*	font-size: 12px;
	line-height: 2em;
	font-style: normal;
	font-weight: bold;*/
}


.group:after {
	content: "";
	display: table;
	clear: both;
}
